@media screen and (max-width: 1200px) {
  .hero-img img {
    width: 100%;
    max-width: 400px;
  }
  #category-container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 992px) {
  .hero {
    flex-direction: column-reverse;
  }
  .hero-content {
    text-align: center;
  }
  #shoes-container {
    flex-direction: column;
    align-items: center;
  }
  .shoe-box {
    max-width: 520px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    width: 95%;
  }
  .logo img {
    width: 280px;
  }
  .hero-content h2 {
    font-size: 40px;
  }
  .category-box {
    flex-direction: column;
  }

  .shoe-box {
    max-width: 320px;
  }
  #shoes-container {
    flex-direction: column;
    align-items: center;
  }
}
