@media screen and (max-width: 1200px) {
  .hero-img img {
    width: 100%;
    max-width: 400px;
  }
  #category-container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 992px) {
  .hero {
    flex-direction: column-reverse;
  }
  .hero-content {
    text-align: center;
  }
  #shoes-container {
    flex-direction: column;
    align-items: center;
  }
  .shoe-box {
    max-width: 520px;
  }
  #news-container form input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
  }
  #news-container form {
    display: flex;
    margin-top: 20px;
    padding-bottom: 140px;
    padding-right: 100px;
    padding-left: 100px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    width: 95%;
  }
  .logo img {
    width: 280px;
  }
  .hero-content h2 {
    font-size: 40px;
  }
  .category-box {
    flex-direction: column;
  }

  .shoe-box {
    max-width: 320px;
  }
  #shoes-container {
    flex-direction: column;
    align-items: center;
  }
  #news-container h2 {
    padding-top: 140px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #1f1f1f;
  }
  #news-container form input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 12px;
    border: none;
  }
  #news-container form {
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
    text-align: center;
  }
  #news-container form button {
    font-size: 16px;
  }
}
