*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    /* font-family: "Inter", sans-serif; */
}

/* shared styles */

.container {
    width: 80%;
    margin: 0 auto;
}

/* nav styels */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.nav .logo img {
    width: 100%;
    max-width: 140px;
}
.nav .menu img {
    width: 100%;
    max-width: 40px;
}