* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* font-family: "Inter", sans-serif; */
}

/* shared styles */

.container {
  width: 80%;
  margin: 0 auto;
}

.nav,
.hero {
  margin-bottom: 40px;
}

/* nav styels */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.nav .logo img {
  width: 100%;
  max-width: 140px;
}
.nav .menu img {
  width: 100%;
  max-width: 40px;
}

/* hero section */

.hero {
  background-color: #feeae9;
  display: flex;
  padding: 50px;
  border-radius: 10px;
  margin: 0 auto;
  gap: 100px;
  align-items: center;
}
.hero-content {
  width: 100%;
  margin-bottom: 15px;
}
.hero-content h2 {
  font-size: 50px;
  font-weight: bold;
  color: #1f1f1f;
}
.hero-content h4 {
  color: #ff136f;
  font-size: 40px;
  font-weight: 400;
}
.hero-content p {
  font-size: 17px;
  color: #4e4e4e;
}
.hero-content button {
  border-radius: 6px;
  background: linear-gradient(to right, #ff589b, #ff136f);
  padding: 10px 35px;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.hero-img {
  width: 100%;
  max-width: 400px;
}

/* Category section */
.heading {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 600;
  color: #1f1f1f;
}
#category-container {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  margin-bottom: 70px;
}

.category-box {
  color: white;
  padding: 20px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-radius: 12px;
}

.category-box h2 {
  font-size: 36px;
  font-weight: 500;
}

/* shoes section */
#shoes-container {
  display: flex;
  gap: 40px;
  margin-bottom: 70px;
}
.shoe-box {
  text-align: center;
  margin-top: 30px;
  border: 2px solid #929292;
  border-radius: 12px;
  padding: 15px;
}
.shoe-box .img {
  width: 100%;
}
.shoes-heading {
  color: #1f1f1f;
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 16px;
}

.shoes-para {
  color: #4e4e4e;
  font-size: 16px;
  margin-bottom: 16px;
}
.price {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.btn {
  color: white;
  background-color: black;
  font-size: 16px;
  padding: 10px 35px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}


/* Newsletter section */
#news-container {
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #FFF2F1;
  padding: 100px;
  text-align: center;
}

#news-container h2 {
  font-size: 30px;
  font-weight: 600;
  color: #1F1F1F;
}
#news-container p {
  font-size: 16px;
  font-weight: 500;
  color: #929292;
}
#news-container form input[type=text] {
  width: 100%;
  padding: 10px;
}
#news-container form {
  display: flex;
  margin-top: 20px;
}

